:root {
        --bg: #fff9f1;
        --bg-100: #e5e0d8;
        --bg-200: #ccc7c0;
        --bg-300: #b2aea8;
        --bg-400: #999590;
        --bg-500: #7f7c78;
        --bg-600: #666360;
        --bg-700: #4c4a48;
        --bg-800: #333130;
        --bg-900: #191818;
        --pri-color: #2e4dff;
        --pri-color-100: #425eff;
        --pri-color-200: #5770ff;
        --pri-color-300: #6c82ff;
        --pri-color-400: #8194ff;
        --pri-color-500: #96a6ff;
        --pri-color-600: #abb7ff;
        --pri-color-700: #c0c9ff;
        --pri-color-800: #d5dbff;
        --pri-color-900: #eaedff;
}

* {
        min-width: 0;
        box-sizing: border-box
}

h1,
h2,
h3,
h4,
h5 {
        margin: 0;
        line-height: 150%;
}

p,
span {
        margin: 0;
}

body, 
input,
select,
button {
        font-family: poppins, 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        background-color: var(--bg);
        padding: 0px;
        margin: 0;
}