body {
        background-color: var(--bg);
        padding: 20px;
}
.todo_app {
        max-width: 600px;
        margin: 0 auto;
        background-color: #fff;
        padding: 20px;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        border: 1px solid var(--bg-100);
}
h1 {
        text-align: center;
        color: var(--bg-900);
}
.todo_input {
        display: grid;
        gap: 10px;
        margin-block: 20px;
}
.todo_input > div {
        display: flex;
        flex-direction: column;
        gap: 2px;
}
.todo_input label{
        font-size: 18px;
        font-weight: 600;
}
.todo_input :is(input,select){
        background-color: var(--pri-color-900);
        outline-color: var(--pri-color);
}
input,
select,
button {
        font-size: 1rem;
        padding: 0.4rem 1rem;
        border: 1px solid var(--bg-300);
        border-radius: 0.5rem;
        width: 100%;
}
button {
        background-color: var(--pri-color);
        color: var(--bg);
        cursor: pointer;
        transition: all 350ms ease-in-out;
}
button:hover {
        background-color: #0056b3;
}
.todo_input button{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 0.5rem;
}
.todo_list {
        margin-top: 20px;
}
.todo_item {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: var(--bg-100);
        padding: 0.5rem 1rem;
        margin-bottom: 10px;
        border-radius: 0.5rem;
        border: 1px solid var(--bg-300);
}
.todo_item p {
        margin: 0;
        color: var(--bg-900);
}
.todo_item p.completed {
        text-decoration: line-through;
        color: #999;
}
.todo_actions{
        flex: 1;
        display: flex;
        justify-content: flex-end;
        gap: 10px;
}
.todo_actions button {
        background-color: #28a745;
        border: none;
        color: var(--bg);
        cursor: pointer;
        padding: 0.3rem 1rem;
        width: fit-content;
}
.todo_actions button:hover {
        background-color: #218838;
}
.todo_actions button:last-child {
        display: flex;
        align-items: center;
        background-color: #dc3545;
}
.todo_actions button:last-child:hover {
        background-color: #c82333;
}